{% extends 'base2.html' %}
{% block title %}
	Nuevo_Rol
{% endblock %}
{% block content %}
    <head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>
<div id="content">
    <h1>Crear Rol</h1>
       <fieldset class="module aligned">
        <form enctype="multipart/form-data" method="post">{% csrf_token %}
            <div class="form-row">
                <div><label>Nombre:</label>{{group_form.name}}</div>
            <div><p class="help">
            <!--Mantenga presionado "Control", para seleccionar más de una opción.-->
            </p></div><label>Permisos:</label>
        <div class="selector">
            <div class="selector-available">
                <h2>Permisos Disponibles</h2>
                <p class="selector-filter">
                </p>

                    <div >
                        {% if results %}<!---este es del filtro--->
                        <ul>
                            {% for result in results %}
                                {{ result.name }}
                            {% endfor %}
                        </ul>
                            {% else %}
                            {{ group_form.permissions}}
                        {% endif %}

                    </div>

            </div>
        </div>

        </div>
    <div class="submit-row">
        <input type='submit' value='Cancelar' onClick='history.go(-1);'>
        <input type="submit" value="Confirmar" />
    </div>
</form>
       </fieldset>
                    </div>

{% endblock %}
