{% extends 'base2.html' %}
{% block title %}
	Modificar_Rol
{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />
</head>
    <div id="content">
    <h1>Modificar Rol {{ dato.name|title }}</h1>
        <fieldset class="module aligned wide">
<form method="post">{% csrf_token %}
    <div class="form-row">
        <div><label>Nombre:</label>{{rol.name}}</div>
        <div><p class="help">
            Los Marcados en Gris son los permisos asignados a este Rol
        </p></div><label>Permisos:</label>
                <div class="selector">
            <div class="selector-available">
                <h2>Permisos Disponibles</h2>
                    <div >
                            {{ rol.permissions}}
                    </div>

            </div>
        </div>
    </div>
    <div class="submit-row">
        <input type='submit' value='Cancelar' onClick='history.go(-1);'>
        <input type="submit" value="Guardar Cambios" />
    </div>
</form>
            </fieldset>
    </div>
{% endblock %}