{% extends 'base2.html' %}
{% block title %}
Roles
{% endblock %}
{% block content %}

<!DOCTYPE html>

<html lang="es-PY">
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css"/>
    <link rel="stylesheet" href="/staticos/usuario/css/style.css">

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>
    <script type="text/javascript" src="/static/usuario/js/core.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class="dashboard">

    <!-- Container -->
    <div class="change-list" >
        <!-- Content -->
        <div id="content">

                <div class="login">
                    <h1>Roles</h1>
                    <ul class="btn1">
                        <li>
                            <a  href="/roles/crear" class="addlink">Nuevo Rol</a>
                        </li>
                    </ul>
                    <div class="results">
                        <ul class="errorlist">
                            {% if mensaje == 0 %}
                            <li>Error: El rol Lider no se puede eliminar</li>
                            {% elif mensaje == 1 %}
                            <li> Rol eliminado</li>
                            {% elif mensaje == 2 %}
                            <li>Error: No se puede eliminar. El rol posee asociados.</li>
                            {% endif %}
                        </ul>
                        <h2>Roles Relativos al Sistema:</h2>
                        <table>
                            <thead>

                                <th scope="col">
                                    <div class="text">
                                        Roles
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="text">
                                        Modificar
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="text">
                                        Eliminar
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--Lista los roles de usuario -->
                            {% for dato in datos %}
                            {% if  dato.name != "Administrador" and dato.name != "Scrum Master" %}
                            <tr>
                                <td>
                                    <center>{{ dato.name }}</center>
                                </td>
                                <td>
                                    <center><a href="/roles/modificar/{{ dato.id }}" class="btn btn-warning"><i
                                        class="icon-pencil icon-white"></i></a></center>
                                </td>
                                <td>
                                    <center><a href="/roles/eliminar/{{ dato.id }}"  onclick="return confirm('Está seguro que desea eliminar el Rol?')" class="btn btn-danger"><i
                                        class="icon-remove icon-white"></i></a></center>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        </br></br></br>
                        <h2>Roles del Proyecto</h2>
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">
                                    <div class="text">
                                        Roles
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="text">
                                        Detalles
                                    </div>
                                </th>
                            </thead>
                            <tbody>
                            <!--Lista los roles del sistema -->
                            {% for dato in datos %}
                            {% if  dato.name = "Administrador" or dato.name = "Scrum Master" %}
                            <tr>
                                <td>
                                    <center>{{ dato.name }}</center>
                                </td>
                                <td>
                                    <center><a href="/roles/{{ dato.id }}" class="btn btn-success"><i
                                            class="icon-eye-open icon-white"></i></a></center>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br class="clear"/>
                </div>
            <div id="footer"></div>
        </div>
    </div>

</body>
</html>
{% endblock %}