{% extends 'base2.html' %}
{% block title %}
Adjuntar
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />
</head>

<div id="content">
    <h1>Adjuntar Archivo</h1>
    <fieldset class="module aligned wide">
        <form method='post' action='' enctype="multipart/form-data">{% csrf_token %}
            <div class="form-row" >
                {{formulario.as_p}}
                <br>
                <center><input type="file" name="file" id="id_file" /></center>
                <br>
            </div>
            <div class="submit-row">
                <input type="submit" value="Adjuntar" />
            </div>
        </form>
    </fieldset>
</div>
{% endblock %}