{% extends 'base2.html' %}
{% block title %}
Trabajo Exitoso
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <meta http-equiv="Refresh" content="2; /userStories/trabajos/{{id_userStory}}">
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>

    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class="">

<!-- Container -->
<div id="container">

    <!-- Content -->
    <div id="content" class="colM">

        <h1>Registro de Trabajo exitoso</h1>

        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}