{% extends 'base2.html' %}
{% block title %}
Trabajos
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>
    <script type="text/javascript" src="/estatic/usuario/js/core.js"></script>
    <script type="text/javascript" src="/estatic/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/estatic/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class="dashboard">

<!-- Container -->
<div id="content">
    <!-- Content -->

    <h1>Trabajos </h1>

    <ul class="btn1">
        <li>
            <a href="/trabajos/crear/{{ id_userStory }}" class="addlink">Nuevo Trabajo</a>

        </li>
    </ul>
    <div id="content-main">
        <div class="results" >
            <!--ul class="errorlist">
                {% if  mensaje == 0 %}
                <li>Error: No se puede eliminar un item que tenga hijos</li>
                {% elif mensaje == 2 %}
                <li>Error:  No se puede eliminar un item cuyo estado no sea pendiente.</li>
                {% endif %}
            </ul-->
            <ul class="infolist">
                {% if mensaje == 1 %}
                <li>Item eliminado correctamente</li>
                {% endif %}
            </ul>
            <table >
                <thead>
                <tr>
                    <th scope="col" class="sortable" >
                        <div class="text">
                            Descripcion
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            Fecha
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            Hora
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            Adjunto
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody>
                {% for dato in datos  %}
                <tr>
                    <td><center>{{ dato.descripcion }}</center></td>
                    <td><center>{{ dato.fecha }}</center></td>
                    <td><center>{{ dato.hora }}</center></td>
                    <td><center><a href="/trabajos/adjuntar/{{ dato.id }}"  class="btn btn-success"><i class="icon-tag icon-white"></i></a></center></td>

                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

    <br class="clear" />
</div>
<!-- END Content -->

<div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}

