
{% extends 'base2.html' %}
{% block title %}
Ver Adjunto
{% endblock %}

{% block header %}{{ adjunto.nombre }}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>

        <a href="{{ adjunto.get_download_url }}"><img
                src="data:{{ adjunto.content_type }};base64,{{ adjunto.img64 }}" alt="{{ adjunto.nombre }}"
                class="img-responsive"></a>

    <div class="caption">


        <div><strong>Nombre: </strong>{{ adjunto.nombre }}</div>
        <div><strong>Descripcion: </strong>{{ adjunto.descripcion }}</div>

        <td><a href="{{ adjunto.get_download_url }}" class="btn btn-success"><i class="icon-download-alt icon-white"></i></a></td>
        </p>

        </p>
    </div>


{% endblock %}