{% extends 'base2.html' %}
{% block title %}
GestionP - Creación Correcta
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <meta http-equiv="Refresh" content="2; /proyectos/">
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>

    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->

    <!-- Content -->
    <div id="content" class="change-list" style="width: 1100px">


        <h1>Registro de Proyecto exitoso</h1>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>

<!-- END Container -->

</body>
</html>
{% endblock %}