{% extends 'base2.html' %}
{% block title %}
GestionP - Proyectos
{% endblock %}
{% block content %}

<!DOCTYPE html>

<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/css/my_stilos.css">
    <link rel="stylesheet" href="/static/js/bower_components/angular-chart.js/dist/angular-chart.css">

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>
    <script type="text/javascript" src="/static/usuario/js/core.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div  id="content" class="change-list" style="width: 1100px">
    <!-- Content -->
    <div class="change-list">

        <h1>Proyectos</h1>
        {% if perms.proyectos.add_proyecto %}
        <ul class="btn1">
            <li>
                <a  href="/proyectos/registrar" class="addlink">Nuevo Proyecto</a>
            </li>
        </ul>
        {% endif %}
        {% if perms.proyectos.add_proyecto %}
            <h2>Proyectos Pendientes</h2>
            <div class="results" >
                <ul class="errorlist">
                    {% if  mensaje == 100 %}
                        <li>Error: El proyecto ya no esta en Produccion.</li>
                    {% elif mensaje == 101 %}
                        <li>Error: No puede crear User Story sin asignar un Scrum Master en el equipo del Proyecto.</li>
                    {% elif mensaje == 102 %}
                        <li>Error: No puede iniciar el proyecto sin asignar Scrum Master al equipo.</li>
                    {% endif %}
                </ul>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Proyectos
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Modificar
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Equipo
                            </div>
                        </th>
                        {% if user.is_staff == False  %}
                        <th scope="col">
                            <div class="text">
                                Sprints
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                User Stories
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Flujos
                            </div>
                        </th>
                        {% endif %}

                        <th scope="col", colspan="3">
                            <div class="text">

                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Iniciar
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                               Cancelar
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for proyecto in proyectos  %}
                        {% if proyecto.estado == "NUE"  %}
                            <tr>
                                <td><center>{{ proyecto.nombre }}</center></td>
                                <td><center><a href="/proyectos/{{ proyecto.pk }}" class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                                <td><center><a href="/proyectos/modificar/{{ proyecto.pk }}" class="btn btn-primary"><i class="icon-pencil icon-white"></i></a></center></td>
                                <td><center><a href="/equipos/{{ proyecto.pk }}" class="btn btn-info"><i class="icon-user icon-white"></i></a></center></td>
                                {% if user.is_staff == False  %}
                                <td><center><a href="/sprints/proyecto/{{ proyecto.pk }}" class="btn btn-info"><i class="icon-calendar icon-white"></i></a></center></td>
                                <td><center><a href="/userStories/{{ proyecto.pk }}" class="btn btn-danger"><i class=" icon-tasks icon-white"></i></a></center></td>
                                <td><center><a href="/flujos/proyecto/{{ proyecto.pk }}" class="btn btn-danger"><i class=" icon-list icon-white"></i></a></center></td>
                                {% endif %}
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td><center><a href="/proyectos/iniciar/{{ proyecto.pk }}" class="btn btn-warning"><i class=" icon-play icon-white"></i></a></center></td>
                                <td><center><a href="/proyectos/cancelar/{{ proyecto.pk }}" class="btn btn-danger" onclick="return confirm('Esta seguro que desea cancelar el proyecto?')"><i class=" icon-remove icon-white"></i></a></center></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}

                <h2>Proyectos Activos</h2>
                <div class="results" >
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Proyectos
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fecha de Inicio
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Modificar
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Equipo
                            </div>
                        </th>
                        {% if user.is_staff == False  %}
                        <th scope="col">
                            <div class="text">
                                Sprints
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                User Stories
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Flujos
                            </div>
                        </th>
                        {% endif %}
                        {% if perms.proyectos.add_proyecto %}
                        <th scope="col">
                            <div class="text">
                                Finalizar
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Cancelar
                            </div>
                        </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for proyecto in proyectos  %}
                        {% if proyecto.estado == "PRO"  %}
                            <tr>
                                <td><center>{{ proyecto.nombre }}</center></td>
                                <td><center>{{ proyecto.fecha_ini }}</center></td>
                                <td><center><a href="/proyectos/{{ proyecto.pk }}" class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                                <td><center><a href="/proyectos/modificar/{{ proyecto.pk }}" class="btn btn-primary"><i class="icon-pencil icon-white"></i></a></center></td>
                                <td><center><a href="/equipos/{{ proyecto.pk }}" class="btn btn-info"><i class="icon-user icon-white"></i></a></center></td>
                                {% if user.is_staff == False  %}
                                <td><center><a href="/sprints/proyecto/{{ proyecto.pk }}" class="btn btn-info"><i class="icon-calendar icon-white"></i></a></center></td>
                                <td><center><a href="/userStories/{{ proyecto.pk }}" class="btn btn-danger"><i class=" icon-tasks icon-white"></i></a></center></td>
                                <td><center><a href="/flujos/proyecto/{{ proyecto.pk }}" class="btn btn-danger"><i class=" icon-list icon-white"></i></a></center></td>
                                {% endif %}
                                {% if perms.proyectos.add_proyecto %}
                                    <td><center><a href="/proyectos/finalizar/{{ proyecto.pk }}" class="btn btn-warning"><i class=" icon-stop icon-white"></i></a></center></td>
                                    <td><center><a href="/proyectos/cancelar/{{ proyecto.pk }}" class="btn btn-danger" onclick="return confirm('Esta seguro que desea cancelar el proyecto?')"><i class="icon-remove icon-white"></i></a></center></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>
                 {% if perms.proyectos.add_proyecto %}
                    <h2>Proyectos Finalizados</h2>
                <div class="results" >
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Proyectos
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fecha de Inicio
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fecha de Finalizacion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Modificar
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Equipo
                            </div>
                        </th>
                        {% if user.is_staff == False  %}
                        <th scope="col">
                            <div class="text">
                                Sprints
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                User Stories
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Flujos
                            </div>
                        </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for proyecto in proyectos  %}
                        {% if proyecto.estado == "FIN"  %}
                            <tr>
                                <td><center>{{ proyecto.nombre }}</center></td>
                                <td><center>{{ proyecto.fecha_ini }}</center></td>
                                <td><center>{{ proyecto.fecha_fin }}</center></td>
                                <td><center><a href="/proyectos/{{ proyecto.pk }}" class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                                <td><center><a href="/proyectos/modificar/{{ proyecto.pk }}" class="btn btn-primary"><i class="icon-pencil icon-white"></i></a></center></td>
                                <td><center><a href="/equipos/{{ proyecto.pk }}" class="btn btn-info"><i class="icon-user icon-white"></i></a></center></td>
                                {% if user.is_staff == False  %}
                                <td><center><a href="/sprints/proyecto/{{ proyecto.pk }}" class="btn btn-info"><i class="icon-calendar icon-white"></i></a></center></td>
                                <td><center><a href="/userStories/{{ proyecto.pk }}" class="btn btn-danger"><i class=" icon-tasks icon-white"></i></a></center></td>
                                <td><center><a href="/flujos/proyecto/{{ proyecto.pk }}" class="btn btn-danger"><i class=" icon-list icon-white"></i></a></center></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>
             {% endif %}
            {% if perms.proyectos.add_proyecto %}
                <h2>Proyectos Cancelados</h2>
                <div class="results" >
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Proyectos
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fecha de Inicio
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fecha de Finalizacion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Equipo
                            </div>
                        </th>
                        {% if user.is_staff == False  %}
                        <th scope="col">
                            <div class="text">
                                Sprints
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                User Stories
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Flujos
                            </div>
                        </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for proyecto in proyectos  %}
                        {% if proyecto.estado == "ELI"  %}
                            <tr>
                                <td><center>{{ proyecto.nombre }}</center></td>
                                <td><center>{{ proyecto.fecha_ini }}</center></td>
                                <td><center>{{ proyecto.fecha_fin }}</center></td>
                                <td><center><a href="/proyectos/detallecancelar/{{ proyecto.pk }}" class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                                <td><center><a href="/equipos/{{ proyecto.pk }}" class="btn btn-info"><i class="icon-user icon-white"></i></a></center></td>
                                {% if user.is_staff == False  %}
                                <td><center><a href="/sprints/proyecto/{{ proyecto.pk }}" class="btn btn-info"><i class="icon-calendar icon-white"></i></a></center></td>
                                <td><center><a href="/userStories/{{ proyecto.pk }}" class="btn btn-danger"><i class=" icon-tasks icon-white"></i></a></center></td>
                                <td><center><a href="/flujos/proyecto/{{ proyecto.pk }}" class="btn btn-danger"><i class=" icon-list icon-white"></i></a></center></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>
             {% endif %}
            </div>

        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
<!-- END Container -->

</body>
</html>
{% endblock %}
