{% extends 'base2.html' %}
{% block title %}
	GestionP - Nuevo Proyecto
{% endblock %}
{% block content %}
    <head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>

                <div id="content" class="change-list" style="width: 1100px">
                <h1>Crear Proyecto</h1>
       <fieldset class="module aligned wide">
<form method="post">{% csrf_token %}
    <div class="form-row">
        <ul class="errorlist">
            {% if  mensaje == 0 %}
            <li>Error: Fecha de inicio debe ser menor a la fecha de finalizacion</li>
                {% elif mensaje == 1 %}
                <li>Error: La fecha debe ser mayor al dia de hoy</li>
                {% elif mensaje == 2 %}
                <li>Error: El usuario elegido no esta autorizado para ser Lider</li>
            {% endif %}
        </ul>
            {{ formulario.as_p }}
        </div>
    <div class="submit-row">
        <input type='submit' value='Cancelar' onClick='history.go(-1);'>
        <input type="submit" value="Confirmar" />
    </div>
</form>
            </fieldset>
                    </div>

{% endblock %}