{% extends "base2.html" %}

{% block title %}
GestionP - Inicio
{% endblock %}

{% block content %}

<!DOCTYPE html>

<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login</title>
    <link rel="stylesheet" href="/static/usuario/css/style.css">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
{% if user.is_authenticated %}
    <!--<left><font size="3", color="FFFFFF">Bienvenido {{user.username|capfirst}}</font>
    <a href="/usuarios/cerrar/">Salir</a></left>-->
    <div height="300">

    </div>

{% else %}
<section class="container">
    <div class="login">
        <h1>Iniciar Sesión</h1>
        <h3 style="color:#ff4d4d">{{ mensaje }}</h3>
        <form method="post">{% csrf_token %}
            <p><input type="text" name="username" value="" placeholder="Usuario" class="col-sm-4"></p>
            <p><input type="password" name="password" value="" placeholder="Contraseña" class="col-sm-4 control-label"></p>
            <p class="myButton"><input type="submit" name="commit" value="Ingresar">{% csrf_token %}</p>
        </form>
    </div>

</section>
{% endif %}
</body>


{% endblock %}
