{% extends "base2.html" %}

{% block title %}
inicio
{% endblock %}

{% block content %}

<!DOCTYPE html>

<html lang="es-PY">
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css"/>

    <script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>
    <script type="text/javascript" src="/static/usuario/js/core.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>

<div class="row-fluid ">

    <div class="span7">
        <br><br><br><br>
        <br><br><br><br>
    </div>

    <div class="span5">
        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span8 registrar">
                {% if user.is_authenticated %}
                <center><font size="3", color="FFFFFF">{{user.username|capfirst}}</font>
                    <a href="/usuarios/cerrar/">Salir</a></center>
                {% else %}
                <legend align="center">Entrar</legend>
                <form align="center" class="form-horizontal alinear" method="POST">{% csrf_token %}
                    <div class="control-group">
                        <label class="control-label" for="inputEmail" >Usuario</label>
                        <div class="controls">
                            <input name="username" type="text" id="inputEmail" placeholder="Usuario">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Contraseña</label>
                        <div class="controls">
                            <input name="password" type="password" id="inputPassword" placeholder="Contraseña">
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
            <div class="span2"></div>
        </div>
    </div>
</div>

{% endblock %}
