
{% extends 'base2.html' %}
{% block title %}
GestionP - Detalles del Flujo
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>
<div id="content">
    <h1>Detalles del {{datos.nombre|title}}</h1>
    <fieldset class="module aligned wide">
        <form method="post">{% csrf_token %}
            <div class="form-row">
                <h3><div><strong>Orden: </strong>{{ datos.orden }}</div></h3>
                <h3><div><strong>Nombre: </strong>{{ datos.nombre }}</div></h3>
                <h3><div><strong>Descripcion: </strong>{{ datos.descripcion }}</div></h3>
                <h3><div><strong>Estado: </strong>{{ datos.estado}}</div></h3>
            </div>
            <div class="submit-row">
                <input type='submit' value='Retornar' onClick='history.go(-1);'>
        </div>

        </form>
    </fieldset>
</div>

{% endblock %}