{% extends 'base2.html' %}
{% block title %}
GestionP - Flujos
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>
    <script type="text/javascript" src="/static/usuario/js/core.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="change-list" style="width: 1100px">

        <h1>Flujos para el proyecto {{ proyecto.nombre }}</h1>

        <ul class="btn1">
            <li>
                <a href="/flujos/registrar/{{proyecto.id}}" class="addlink">Nuevo flujo</a>
                <!--<a href="/flujos/lista_todas/{{proyecto.id}}" class="addlink">Importar flujo</a>-->
            </li>
        </ul>
        <div id="content-main">

            <div class="results" >
                <ul class="errorlist">
                    {% if  mensaje == 100 %}
                        <li>Atencion: Debe crear actividades al flujo antes de asignarle User Stories</li>
                    {% endif %}
                </ul>

                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Nro
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Estado
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fecha de Inicio
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Detalle
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Modificar
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Eliminar
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Asignar User Story
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Actividades
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Kanban
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                    <tr>
                        <td><center>{{ dato.orden }}</center></td>
                        <td><center>{{ dato.nombre }}</center></td>
                        <td><center>{{ dato.estado }}</center></td>
                        <td><center>{{ dato.fInicio }}</center></td>
                        <td><center><a href="/flujos/{{ dato.pk }}" class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                        <td><center><a href="/flujos/editar/{{ dato.pk }}" class="btn btn-primary"><i class="icon-pencil icon-white"></i></a></center></td>
                        <td><center><a href="/flujos/eliminar/{{ dato.pk }}" class="btn btn-danger" onclick="return confirm('Esta seguro que desea eliminar el flujo?')"><i class=" icon-remove icon-white"></i></a></center></td>
                        <td><center><a href="/flujos/asignar/{{dato.id}}" class="btn btn-inverse"><i class="icon-user icon-white"></i></a></center></td>
                        <td><center><a href="/actividades/flujo/{{ dato.pk }}" class="btn btn-warning"><i class=" icon-signal icon-white"></i></a></center></td>
                        <td><center><a href="/flujos/kanban/{{ dato.pk }}" class="btn btn-success"><i class="icon-flag icon-white"></i></a></center></td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>


        </div>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}
