{% extends 'base2.html' %}
{% block title %}
GestionP - Nuevo Flujo
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>

<div id="content">
    <h1>Crear Flujo</h1>
    <p>Fecha del proyecto comprendida del  "{{ proyecto.fecha_ini }}"  al  "{{ proyecto.fecha_fin }}"</p>
    <fieldset class="module aligned wide">
        <form method="post">{% csrf_token %}
            <div class="form-row">
                <ul class="errorlist">
                    {% if  mensaje == 0 %}
                    <li>Error: El formato de Fecha es: DD/MM/AAAA</li>
                    {% elif mensaje == 1 %}
                    <li>Error: Fecha de inicio no concuerda con fase anterior</li>
                    {% elif mensaje == 2 %}
                    <li>Error: Fecha de inicio no concuerda con proyecto</li>
                    {% endif %}
                </ul>
                {{ formulario.as_p }}
            </div>
            <div class="submit-row">
                <input type='submit' value='Cancelar' onClick='history.go(-1);'>
                <input type="submit" value="Confirmar" />
            </div>
        </form>
    </fieldset>
</div>

{% endblock %}