.caj {
  float: right;
  height: 60px;
  width: 400px;
}
.buscar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.boton {
  margin-top: 5px;
  margin-bottom: 10px;
}
.p {
  float: right;
}
body {
 
  color: #47ccbc;
  font-size: 16px;
  text-align: left;
}
a {
  color: #00f;
}
a:visited {
  color: #444fb1;
}
header {
  background: #222;
  border-bottom: 3px solid #ff7457;
  color: #ddd;
  margin: 0;
  padding: 0.5cm;
  position: fixed;
  width: 100%;
}
header img {
  width: 100%;
}
header h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
header #avatar,
header #logo,
header #titulo_nav {
  display: inline-block;
  vertical-align: top;
}
header #avatar,
header #logo {
  height: 40px;
  width: 40px;
}
header #avatar a {
  background: #444;
  display: block;
  margin: 0;
  padding: 3px;
  text-decoration: none;
}
header #titulo_nav {
  width: 70%;
}
header #titulo_nav nav a {
  color: #fff;
  border-bottom: 4px solid #0af;
  border-left: 1px solid #0af;
  border-right: 1px solid #0af;
  font-size: 0.8em;
  padding: 0.1em 1em;
  text-decoration: none;
}
header #titulo_nav nav a:hover {
  border-color: #fff;
}
#contenido {
  padding: 60px 62px;
}
#contenido .item {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 0.5em;
  margin: 0.5em 0 0 0;
  height: 4em;
  overflow: hidden;
  padding: 0.5em;
}
#contenido .item h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#contenido .item .autor {
  font-size: 0.7em;
  margin: -3em 0 0 15%;
}
#contenido .item .autor p {
  display: inline;
}
#contenido .item .autor .tag {
  background: #80ccb2;
  border-radius: 0.5em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em;
  margin: 0 0 2px 1em;
}
#contenido .item .autor .tag:hover {
  background: #589086;
}
#contenido .item .titulo_item,
#contenido .item .votos {
  display: inline-block;
  vertical-align: top;
}
#contenido .item .titulo_item {
  width: 80%;
}
#contenido .item .titulo_item figure {
  float: right;
}
#contenido .votos {
  text-align: center;
  width: 14%;
}
#contenido .votos a {
  text-decoration: none;
  transition: all 1s ease;
}
#contenido .votos a:hover {
  font-size: 1.3em;
}
#contenido .votos .down {
  color: #ffb341;
}
#contenido .votos .up {
  color: #488ff5;
}
