body{
	font: 15px/25px 'Calibri Grande', Arial, Calibri, sans-serif, center;
	color: #444fb1;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../img/fondo12.jpg);
	background-color: #c0dcec;

.s1{
	font: 15px/25px 'Calibri Grande', Arial, Calibri, sans-serif, center;
	color: #444fb1;
	background-color: #c0dcec;
}

.s1{
	background: #b1c6de;
	min-height: 10px;
}

.s2{
	background: #b1c6de;
	min-height: 60px;
	width: 90%;
	margin: 1px 30px 1px 85px;
	}
.contenido1
{
	padding: 0px 1px 0px 1px;
	width: 90%;
}

.pie
{
	background: #444fb1;
	min-height: 110px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.i1
{
	margin-left: 130px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.i2
{
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.i3
{
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.i4
{
	margin-right: 150px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#parrafo
{
	float: right;
	color: white;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
}

#parrafo1
{
	float: right;
	color: white;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 80px;
}

#parrafo2
{
	float: right;
	color: white;
	font-size: 12px;
	margin-right: 100px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#parrafo3
{
	float: right;
	color: white;
	font-size: 12px;
	margin-right: 200px;
	margin-top: -40px;
	margin-bottom: 10px;
}

.medio{
	background: #b1c6de;
	box-shadow: 0px 0px 15px #b1c6de;
	min-height: 1px;
	position:relative;
	top:50px;
	z-index:-1;
}

.medio1{
	background: #b1c6de;
	box-shadow: 0px 0px 15px #b1c6de;
	min-height: 1px;
	position:relative;
	top: 10px;
	z-index:-1;
}

.medio2{
	background: #b1c6de;
	box-shadow: 0px 0px 15px #b1c6de;
	min-height: 1px;
	position:relative;
	top:30px;
	z-index:-1;
}

#margen{
	box-shadow: 0px 0px 15px #b0e0ff;
	margin-top: -20%;
	margin-left: 35%;
}

#margen1{
	box-shadow: 0px 0px 15px #b0e0ff;
	margin-top: -20%;
	margin-left: -5%;
}

#margen2{
	box-shadow: 0px 0px 15px #b0e0ff;
	margin-top: -20%;
	margin-left: -45%;
	}

#margen3{
	margin-top: -25%;
	margin-left: -75%;
}

.estilo{
	margin-top: 8%; 
	margin-left: 114%;
	position:relative;
	z-index:-1;
}

.estilo1{
	margin-top: 20%;
	margin-left: -30%;
	position:relative;
	z-index:-1;
}

.registrar{
	border-radius: 10px; 
	border: 5px groove #b1c6de;
}

.alinear{
	margin-left: -20%;
}

.alinear1{
	color: #151515;
	margin-left: 5%;
}

.reg{
	margin-left: 20%;
}

.categoria1
{

	padding-right: 0px;
	padding-left: 98px;

}

.categoria2
{
	background: #FFFFFF;
	min-height: 160px;
	margin-left: 0px !important;
	width: 600px;
	margin: 110px 0px 0px 0px;
}
.cont_categoria
{
	padding-left: 10px;
	margin: 5px 40px 10px;
}
#sub
{
	background:white;
	padding: 5px 50px;
	background: rgb(68, 79, 177);
	margin:0px;
}

.p_descripcion
{
	font-size: 14px;
	text-align: justify;
}

#paginacion {
  position: relative;
  margin: 0 auto;
  padding: 10px 100px 10px;
  width: 500px;
  background: #fefdff;
  border-radius: 1px;
}

.opacity{
   background-color: rgb(254, 253, 255);
   opacity:0.9;
   width:100px;
   height:10px;
}