#registrousuario {
  background: transparent url("../images/bgfieldset.jpg") no-repeat scroll left bottom;
  border: medium none;
  color: #333;
  height: 665px;
  padding: 0 0 0 50px;
  width: 515px;
}
#registrousuario legend {
  color: #333;
  font-family: arial;
  font-size: 21px;
  letter-spacing: -1px;
  padding-bottom: 20px;
  padding-top: 8px;
  text-transform: capitalize;
}
#registrousuario input.texto {
  background: #fff url("../images/bginputtexto.gif") no-repeat scroll left top;
  border: medium none !important;
  color: #666;
  font-size: 12px;
  height: 24px;
  padding-bottom: 0;
  padding-left: 5px;
  padding-top: 5px;
  width: 454px;
  font-family: arial, sans-serif;
}
#registrousuario textarea.areadetexto {
  background: #fff url("../images/bgtextarea.gif") no-repeat scroll top left;
  width: 454px;
  height: 212px;
  border: none !important;
  padding-bottom: 0;
  padding-left: 5px;
  padding-top: 5px;
  color: #666;
  font-size: 12px;
  font-family: arial, sans-serif;
}
#registrousuario label {
  display: block;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 10px 0 3px;
}
#registrousuario input.botonenviar {
  background: transparent url("../images/bgbotonenviar.gif") no-repeat scroll left top;
  border: medium none !important;
  color: #fff;
  display: block;
  float: left;
  font-family: arial, sans-serif;
  height: 30px;
  margin-left: 360px;
  margin-top: 20px;
  text-align: center;
  width: 99px;
}
.imagen {
  width: 40px;
  height: 40px;
}
.busqueda {
  float: right;
  margin-top: -3px;
  margin-bottom: 2px;
}
.it {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-bottom: 5px;
  margin-left: 110px;
}
.if {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-bottom: 5px;
  margin-left: 0px;
}
.ig {
  width: 20px;
  height: 17px;
  vertical-align: bottom;
  margin-bottom: 7px;
  margin-left: 5px;
}
#title {
  padding: 30px;
  font-family: 'Advent Pro', sans-serif;
  font-size: 60px;
  text-align: center;
  color: #151515;
}
#capa {
  position: relative;
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 9px 8px 10px #061847;
  box-shadow: 9px 8px 10px #061847;
}
#capa .descripcion {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #eee;
  background-color: rgba(0,0,0,0.7);
}
.portada:hover ~ .descripcion {
  display: block !important;
  width: 350px;
  height: 400px;
}
.portada {
  width: 350px;
  height: 350px;
  padding-left: 0px;
}
.portada:hover {
  opacity: 0.5;
}
