
{% extends 'base2.html' %}
{% block title %}
GestionP - Detalles del Proyecto
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>

<div id="content">
    <h1>Detalles de la Actividad {{datos.nombre|title}}</h1>
    <fieldset class="module aligned wide">
        <form method="post">{% csrf_token %}
            <div class="form-row">
                <h3><div><strong>Orden: </strong>{{ datos.orden }}</div></h3>
                <h3><div><strong>Nombre: </strong>{{ datos.nombre }}</div></h3>
                <h3><div><strong>Flujo: </strong>{{ datos.flujo.nombre }}</div></h3>
            </div>
            <div class="submit-row">
                <input type='submit' value='Retornar' onClick='history.go(-1);'>
            </div>
        </form>
    </fieldset>
</div>

{% endblock %}