{% extends 'base2.html' %}
{% block title %}
GestionP - Actividades
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>
    <script type="text/javascript" src="/static/usuario/js/core.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->

    <!-- Content -->
    <div id="content" class="change-list" style="width: 1100px">

        <h1>Actividades para el flujo {{ flujo.nombre }}</h1>

        <ul class="btn1">
            <li>
                <a href="/actividades/registrar/{{flujo.id}}" class="addlink">Nueva actividad</a>
                <!--<a href="/actividades/lista_todas/{{flujo.id}}" class="addlink">Importar actividad</a>-->
            </li>
        </ul>
        <div id="content-main">




            <div class="results" >
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Nro
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Detalle
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Modificar
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Eliminar
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                    <tr>
                        <td><center>{{ dato.orden }}</center></td>
                        <td><center>{{ dato.nombre }}</center></td>
                        <td><center><a href="/actividades/{{ dato.pk }}" class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                        <td><center><a href="/actividades/editar/{{ dato.pk }}" class="btn btn-primary"><i class="icon-pencil icon-white"></i></a></center></td>
                        <td><center><a href="/actividades/eliminar/{{ dato.pk }}" class="btn btn-danger" onclick="return confirm('Esta seguro que desea eliminar la Actividad?')"><i class=" icon-remove icon-white"></i></a></center></td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>


        </div>



        <br class="clear" />
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}