
{% extends 'base2.html' %}
{% block title %}
GestionP - Agregar miembro
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>

<div id="content" class="change-list" style="width: 1100px">
    <h1>Agregar Miembro al Equipo</h1>
    <fieldset class="module aligned wide">
        <form method='post' action='' enctype="multipart/form-data">{% csrf_token %}
            <div class="form-row">
                {{ formulario.as_p }}
            </div>
            <div class="submit-row">
                <input type='submit' value='Cancelar' onClick='history.go(-1);'>
                <input type="submit" value="Confirmar" />
            </div>
</div>
</form>
</fieldset>
</div>

{% endblock %}