{% extends 'base2.html' %}
{% block title %}
GestionP-Equipos
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />
</head>

<div id="content">
    <h1>Equipo de {{proyecto.nombre|title}}</h1>
    <ul class="btn1">
        <li>
            <a href="/equipos/agregar/{{ proyecto.id }}" class="addlink">Agregar Usuario</a>
        </li>
    </ul>
    <div id="container">
            <fieldset class="module aligned wide">
                <form method="post">{% csrf_token %}
                    <div class="form-row">
                        <h1><div><p style="font-size:18px"><strong>Scrum Master: </strong>({{ scrumMaster.username }}) - Cant. horas =  {{ cantHorasUS }}</p></div></h1>
                        {% for equipo in equipos %}
                            <h2><p style="font-size:18px">{{ equipo.usuario.first_name }} {{ equipo.usuario.last_name }} ({{ equipo.usuario }}) - Cant. horas =  {{ equipo.horasPorDia }}</p></h2>
                            {% for rol in equipo.rol.all %}
                                <!-- <li><p style="font-size:16px"><b>  {{ rol }} </b>  <a href="/equipos/eliminar/{{ equipo.id }}"><i class="icon-remove icon-black"></i></a></p></li> -->
                                <li><p style="font-size:16px"><b> {{ rol }} </b>  <a href="/equipos/eliminar/{{ equipo.id }}"  onclick="return confirm('Esta seguro que desea eliminar al miembro del equipo?')"><i class="icon-remove icon-black"></i></a></p></li>
                            {% endfor %}
                            </br>
                        {% endfor %}
                        </br>
                        <hr>
                        <p style="font-size:18px">
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}