{% extends 'base2.html' %}
{% block title %}
Detalle User Story
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>




<div id="content">
    <h1>Detalles de {{datos.nombre|title}}</h1>
    <fieldset class="module aligned wide">
        <form method="post">{% csrf_token %}
            <div class="form-row">
                <h3><div><strong>Nombre: </strong>{{ datos.nombre }}</div></th></h3>
                <h3><div><strong>Descripción: </strong>{{ datos.descripcion }}</div></h3>
                <h3><div><strong>Horas Estimadas: </strong>{{ datos.tiempo_estimado }}</div></h3>
                <h3><div><strong>Actividad: </strong>{{ datos.actividad }}</div></h3>
                <h3><div><strong>Estado: </strong>{{ datos.get_estadoKanban_display }}</div></h3>
                <h3><div><strong>Prioridad: </strong>{{ datos.prioridad }}</div></h3>
                <h3><div><strong>Proyecto: </strong>{{ datos.proyecto }}</div></h3>
                <h3><div><strong>Desarrollador: </strong>{{ datos.desarrollador }}</div></h3>
                {% if datos.sprint == none %}
                    <h3><div><strong>Sprint: </strong>No asignado</div></h3>
                {% else %}
                    <h3><div><strong>Sprint: </strong>{{ datos.sprint }}</div></h3>
                {% endif %}

                <h3><div><strong>Flujo: </strong>{{ datos.flujo }}</div></h3>
                <h3><div><strong>Fecha de modificacion: </strong>{{ datos.fecha_mod }}</div></h3>
                <div class="submit-row">
                    <input type='submit' value='Retornar' onClick='history.go(-1);'>
                </div>
            </div>
        </form>
    </fieldset>

{% endblock %}