{% extends 'base2.html' %}
{% block title %}
	Modificar user story
{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />
</head>


<div id="content">
    <div class="change-list" style="width: 1000px">
        <h1>Modificar User Story {{item.nombre|title}}</h1>
        <fieldset class="module aligned wide">
        <form method="post">{% csrf_token %}
            <div class="form-row">
                {{ formulario.as_p }}
            </div>
            <div class="submit-row">
                <input type='submit' value='Cancelar' onClick='history.go(-1);'>
                <input type="submit" value="Guardar Cambios" />
            </div>
        </form>
        </fieldset>
    </div>
</div>
{% endblock %}