{% extends 'base2.html' %}
{% block title %}
GestionP-User Stories
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css" />

<script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>
<script type="text/javascript" src="/static/usuario/js/core.js"></script>
<script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
<script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/usuario/js/actions.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="content" class="change-list" style="width: 1100px">
    <!-- Content -->
        <h1>Product Backlog</h1>

<ul class="btn1">
    <li>
        <a href="/userStories/crear/{{ id_proyecto}}" class="addlink">Nuevo User Story</a>
    </li>
</ul>
<div id="content-main">

        <div class="results" >
         <!--ul class="errorlist">
            {% if  mensaje == 0 %}
            <li>Error: No se puede eliminar un item que tenga hijos</li>
                {% elif mensaje == 2 %}
                <li>Error:  No se puede eliminar un item cuyo estado no sea pendiente.</li>
            {% endif %}
        </ul-->
        <ul class="infolist">
            {% if mensaje == 1 %}
            <li>Item eliminado correctamente</li>
            {% endif %}
        </ul>
        <table >
        <thead>
        <tr>
            <th scope="col" class="sortable" >
                <div class="text">
                    Nombre
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    Prioridad
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    Estado
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    TiempoEstimado
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    TiempoRegistrado
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    UltimoCambio
                </div>
            </th>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    Descripcion
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    Modificar
                </div>
             </th>
            <th scope="col">
                <div class="text">
                    Eliminar
                </div>
            </th>
            <!--th scope="col">
                <div class="text">
                    Trabajos
                </div>
            </th-->
        </tr>
        </thead>
        <tbody>
        {% for dato in datos  %}
            <tr>
                <td><center>{{ dato.nombre}}</center></td>
                <td><center>{{ dato.prioridad_obtenida}}</center></td>
				<td><center>{{ dato.get_estadoScrum_display }}</center></td>
                <td><center>{{ dato.tiempo_estimado }}</center></td>
                <td><center>{{ dato.tiempo_registrado }}</center></td>
                <td><center>{{ dato.ultimo_cambio }}</center></td>
                <td><center><a href="/userStories/detalle/{{ dato.id }}"  class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                <td><center><a href="/userStories/modificar/{{ dato.pk }}" class="btn btn-primary"><i class="icon-pencil icon-white"></i></a></center></td>
                <td><center><a href="/userStories/eliminar/{{ dato.pk }}" class="btn btn-danger"><i class=" icon-trash icon-white"></i></a></center></td>

                <!--td><center><a href="/trabajos/userStories/{{ dato.pk }}" class="btn btn-info"><i class="icon-bookmark icon-white"></i></a></center></td-->
            </tr>
        {% endfor %}
        </tbody>

        </table>
        </div>


</div>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}