{% extends 'base2.html' %}
{% block title %}
GestionP-Sprints
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>
    <script type="text/javascript" src="/static/usuario/js/core.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="change-list" style="width: 1000px">
        <h1>User Story para el Sprint: {{ sprint.nombre }}</h1>

        <div id="content-main">

            <div class="results" >
                <!--                <ul class="errorlist">
                                    {% if  mensaje == 100 %}
                                        <li>Info: User Story asignado correctamente</li>
                                    {% elif mensaje == 1 %}
                                        <li>info: User Story desasignado correctamente</li>
                                    {% endif %}
                                </ul>-->
                {% if sprint.estado == 0  %}
                    <h2>Asignar User Story</h2>
                    <table >
                        <thead>
                        <tr>
                            <th scope="col" class="sortable" >
                                <div class="text">
                                    Nombre
                                </div>
                            </th>
                            <th scope="col">
                                <div class="text">
                                    Prioridad Calculada
                                </div>
                            </th>
                            <th scope="col">
                                <div class="text">
                                    Detalles
                                </div>
                            </th>
                            <th scope="col">
                                <div class="text">
                                    Asignar
                                </div>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for userStory in userStoriesBacklog  %}
                        <tr>
                            <td><center>{{ userStory.nombre }}</center></td>
                            <td><center>{{ userStory.prioridad_obtenida }}</center></td>
                            <td><center><a href="/userStories/detalle/{{ userStory.id }}"  class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                            {% if sprint.estado == 0  %}

                            <td><center><a href="/sprints/asignar/{{ userStory.pk }}/{{ sprint.id }}" class="btn btn-success"><i class="icon-plus icon-white"></i></a></center></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                {% endif %}

                <h2>Desasignar User Story</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                                <div class="text">
                                    Prioridad Calculada
                                </div>
                            </th>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Detalles
                            </div>
                        </th>
                        {% if sprint.estado == 0  %}
                            <th scope="col">
                                <div class="text">
                                    Desasignar
                                </div>
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for userStory in userStoriesAsignados  %}
                    <tr>
                        <td><center>{{ userStory.nombre }}</center></td>
                        <td><center>{{ userStory.prioridad_obtenida }}</center></td>
                        <td><center><a href="/userStories/detalle/{{ userStory.id }}"  class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                        {% if sprint.estado == 0  %}

                        <td><center><a href="/sprints/desasignar/{{ userStory.pk }}/{{ sprint.id }}" class="btn btn-danger"><i class=" icon-minus icon-white"></i></a></center></td>

                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}