{% extends 'base2.html' %}
{% block title %}
Burndown Chart
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>

    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>

    <meta name="robots" content="NONE,NOARCHIVE" />

    <body style="background:#FFFAFA">
</head>


<body class="">

<!-- Container -->
<div ng-app="charts" ng-controller="ChartCtrl as vm" ng-init=vm.getId({{listHsIdeal}},{{listLab}},{{listTaskHs}})>


       <canvas id="line" class="chart chart-line" data="data"
        labels="labels" legend="true" series="series"
        click="onClick">
       </canvas>

    </div>
    <script>
        angular.module("charts", ["chart.js"]).controller("ChartCtrl", function ($scope) {
        $scope.labels = {{listLab}};
        $scope.series = ['Horas reales de trabajo', 'Horas ideales de trabajo'];
        $scope.data = [{{listTaskHs}},{{ listHsIdeal }}];
        $scope.onClick = function (points, evt) {
        console.log(points, evt);
    };
});
    </script>
</div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}
