{% extends 'base2.html' %}
{% block title %}
GestionP-Detalle_Proyecto
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>

<div id="content">
    <h1>Detalles de la Flujo {{datos.nombre|title}}</h1>
    <fieldset class="module aligned wide">
        <form method="post">{% csrf_token %}
            <div class="form-row">
                <div><strong>Numero: </strong>{{ datos.orden }}</div>
                <div><strong>Nombre: </strong>{{ datos.nombre }}</div>
                <div><strong>Descripcion: </strong>{{ datos.descripcion }}</div>
                <div><strong>Estado: </strong>{{ datos.estado}}</div>
                <div><strong>Fecha de Inicio: </strong>{{ datos.fInicio }}</div>
            </div>
            <div class="submit-row">
                <input type='submit' value='Retornar' onClick='history.go(-1);'>
            </div>
        </form>
    </fieldset>
</div>

{% endblock %}