{% extends 'base2.html' %}
{% block title %}
GestionP-Sprints
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>
    <script type="text/javascript" src="/static/usuario/js/core.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="change-list" style="width: 1200px">

        <h1>Sprint Backlog de {{ proyecto.nombre }}</h1>

        <ul class="btn1">
            <li>
                <a href="/sprints/registrar/{{proyecto.id}}" class="addlink">Nuevo Sprint</a>
                <!--<a href="/sprints/lista_todas/{{proyecto.id}}" class="addlink">Importar Sprint</a>-->
            </li>
        </ul>
        <div id="content-main">

            <h3 style="color:#ff4d4d">{{ mensaje }}</h3>

            <div class="results" >

                <h2>SPRINTS PLANIFICADOS</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                InicioPropuesto
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                FinPropuesto
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Capacidad
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                HorasU.S.
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                ProductBacklog
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Eliminar
                            </div>
                        </th>

                        {% if sprintActivo == 0  %}
                            <th scope="col", colspan="3">
                                <div class="text">

                                </div>
                            </th>
                            <th scope="col">
                                <div class="text">
                                    Iniciar
                                </div>
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estado == 0  %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                                <td><center>{{ dato.descripcion }}</center></td>
                                <td><center>{{ dato.inicio_propuesto }}</center></td>
                                <td><center>{{ dato.fin_propuesto }}</center></td>
                                <td><center>{{ dato.capacidad }}</center></td>
                                <td><center>{{ dato.horasUS }}</center></td>
                                <td><center><a href="/sprints/backlog/{{ dato.pk }}" class="btn btn-warning"><i class=" icon-user icon-white"></i></a></center></td>
                                <td><center><a href="/sprints/eliminar/{{ dato.pk }}" class="btn btn-danger" onclick="return confirm('Está seguro que desea eliminar el proyecto?')"><i class="icon-remove icon-white"></i></a></center></td>
                                {% if sprintActivo == 0  %}
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td><center><a href="/sprints/iniciar/{{ dato.pk }}" class="btn btn-success"><i class=" icon-play icon-white"></i></a></center></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>

                <h2>SPRINT EN EJECUCION</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" >
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Capacidad
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                HorasU.S.
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                ProductBacklog
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Inicio
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                InicioPropuesto
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                FinPropuesto
                            </div>
                        </th>
                        <th scope="col", colspan="3">
                            <div class="text">

                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Finalizar
                            </div>
                        </th>
                         <!--th scope="col">
                            <div class="text">
                                BurndownChart
                            </div>
                        </th-->
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estado == 1  %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                                <td><center>{{ dato.descripcion }}</center></td>
                                <td><center>{{ dato.capacidad }}</center></td>
                                <td><center>{{ dato.horasUS }}</center></td>
                                <td><center><a href="/sprints/backlog/{{ dato.pk }}" class="btn btn-warning"><i class=" icon-user icon-white"></i></a></center></td>
                                <td><center>{{ dato.inicio }}</center></td>
                                <td><center>{{ dato.inicio_propuesto }}</center></td>
                                <td><center>{{ dato.fin_propuesto }}</center></td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td><center><a href="/sprints/finalizar/{{ dato.pk }}" class="btn btn-success"><i class=" icon-stop icon-white"></i></a></center></td>
                                <!--td><center><a href="/sprints/graficar/{{ dato.pk }}" class="btn btn-success"><i class=" icon-picture icon-white"></i></a></center></td-->
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>

                <h2>SPRINTS FINALIZADOS</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Capacidad
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                ProductBacklog
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Inicio
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fin
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                InicioPropuesto
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                FinPropuesto
                            </div>
                        </th>
                         <!--th scope="col">
                            <div class="text">
                                BurndownChart
                            </div>
                        </th-->
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estado == 2  %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                                <td><center>{{ dato.descripcion }}</center></td>
                                <td><center>{{ dato.capacidad }}</center></td>
                                <td><center>{{ dato.horasUS }}</center></td>
                                <td><center>{{ dato.inicio }}</center></td>
                                <td><center>{{ dato.fin }}</center></td>
                                <td><center>{{ dato.inicio_propuesto }}</center></td>
                                <td><center>{{ dato.fin_propuesto }}</center></td>
                                <!--td><center><a href="/sprints/graficar/{{ dato.pk }}" class="btn btn-success"><i class=" icon-picture icon-white"></i></a></center></td-->
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>

                </br>
                </br>
                </br>
                </br>


            </div>


        </div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}

