{% extends 'base2.html' %}
{% block title %}
Sprints No finalizados
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>
    <script type="text/javascript" src="/static/usuario/js/core.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="change-list" style="width: 1100px">

        <h1>User Stories que no han finalizado en el Sprint {{ sprint.nombre }}</h1>

        <div id="content-main">

            <h2>Reasignar al siguiente Sprint?</h2>
            <div class="results" >
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Detalles
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Reasignar
                            </div>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for userStory in USNoTerminados  %}
                    <tr>
                        <td><center>{{ userStory.nombre }}</center></td>
                        <td><center><a href="/userStories/detalle/{{ userStory.id }}"  class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                        <td><center><a href="/sprints/reasignar/{{ userStory.pk }}" class="btn btn-success"><i class="icon-plus icon-white"></i></a></center></td>
                    </tr>
                    {% endfor %}
                    </tbody>


                </table>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <form action="/sprints/noasignar/{{ sprint.id }}">
                    <input type="submit" value="Continuar sin asignar">
                </form>
            </div>


        </div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}

