@import '../../shared/mixins',
        '../../shared/reset',
        '../../shared/about-light';

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

body {
  font: 15px/25px 'Calibri Grande', Arial, Calibri, sans-serif, center;
  color: #b13944;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../img/fondo11.jpg);
  background-color: #c0dcec;
}

.container {
  margin: 80px auto;
  width: 640px;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 10px 100px 10px;
  width: 300px;
  background: #fefdff;
  border-radius: 3px;
  @include box-shadow(0 0 20px rgba(white, .5), 0 1px 2px rgba(black, .3));

  &:before {
    content: '';
    position: absolute;
    top: -1px; right: -1px; bottom: -1px; left: -1px;
    z-index: -10;
    background: rgba(black, .09);
    border-radius: 10px;
  }

  h1 {
    margin: -20px -20px 21px;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #070707;
    border-bottom: 1px solid #070707;
    border-radius: 3px 3px 0 0;
    @include linear-gradient(top, whiteffd, #eef2f5);
    @include box-shadow(0 1px #f5f5f5);
  }

  p { margin: 30px 0 0; }
  p:first-child { margin-top: 0; }

  input[type=text], input[type=password] { width: 300px; }

  p.remember_me {
    float: right;
    line-height: 31px;

    label {
      font-size: 12px;
      color: #777;
      cursor: pointer;
    }

    input {
      position: relative;
      bottom: 1px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  p.submit {
    text-align: center;
  }
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #070707;

  a {
    color: #cce7fa;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 1px;
  padding: 0 10px;
  width: 300px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #b13944 #ff4969 #ff1122;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px; // Can we get this on WebKit please?
  @include box-shadow(inset 0 1px 3px rgba(black, .12));

  &:focus {
    border-color: #ff4969;
    outline-color: #fcb2cf;
    outline-offset: 0; // WebKit sets this to -1 by default
  }
}

input[type=submit] {
  padding: 0 20px;
  height: 31px;
  font-size: 15px;
  font-weight: bold;
  color: #b13944;
  text-shadow: 0 1px #fcb2cf;
  background: #efb2b7;
  border: 1px solid;
  border-color: #ff4969 #ff4969 #ff4969;
  border-radius: 16px;
  outline: 0;
  @include box-sizing(content-box); // Firefox sets this to border-box by default
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:active {
    background: #efb2b7;
    border-color: #ff4969 #ff4969 #ff4969;
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
}

.lt-ie9 {
  input[type=text], input[type=password] { line-height: 34px; }
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
