{% extends 'base2.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<title>Cambio de contraseÃ±a exitoso</title>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />

<script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->
<div id="container">

    <!-- Content -->
    <div id="content" class="colM">
        <h1>Cambio de contraseña exitoso</h1>
        <p>Su contraseña ha sido cambiada.</p>
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}