{% extends 'base2.html' %}
{% block title %}
    Eliminar Usuario
{% endblock %}
{% block content %}

<html lang="es-PY" >
<head>
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/dashboard.css" />


<script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>

<div id="content">
    <div  class="flex">
        <h2>¿Está seguro?</h2>
        <form method="post">{% csrf_token %}
            Usuario: "{{ object }}"
            <input type="submit" value="Eliminar" />
        </form>
    </div>
</div>
{% endblock %}