{% extends 'base2.html' %}
{% block title %}
Modificar Usuario
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />
</head>
<div id="content">
    <h1>Modificar Usuario</h1>
    <fieldset class="module aligned wide">
        <h3 style="color:#ff1122">{{ mensaje }}</h3>
        <form method="post">{% csrf_token %}
            <div class="form-row">
                {{ form.as_p }}
                {{ perfil.as_p }}
            </div>
            <div class="submit-row">
                <input type='submit' value='Retornar' onClick='history.go(-1);'>
                <input type="submit" value="Guardar Cambios" />
            </div>
        </form>
    </fieldset>
</div>
</html>
{% endblock %}

