<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/my_stilos.css">
    <link rel="stylesheet" href="/static/js/bower_components/angular-chart.js/dist/angular-chart.css">

    <!---
    <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,500' rel='stylesheet'>
    -->
    <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="/static/js/bower_components/angular/angular.min.js"></script>
    <script src="/static/js/bower_components/Chart.js/Chart.min.js"></script>
    <script src="/static/js/bower_components/angular-chart.js/dist/angular-chart.js"></script>

    <!--- <script>
         var asd = "{{MEDIA_ROOT}}";
         alert(asd);

     </script> --->
</head>

<body>
<div class="row-fluid">
    <div class="span12">
        {% if user.is_authenticated %}
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="/">GestionP</a>
                <ul class="nav">
                    <li><a class="dropdown-toggle" href="/proyectos">PROYECTO</a></li>
                    {% if perms.auth.add_user %}
                    <li><a class="dropdown-toggle" href="/usuarios">USUARIO</a></li>
                    <li><a class="dropdown-toggle" href="/roles">ROL</a></li>
                    {% endif %}
                </ul>


                 <div class="busqueda">
                    <form class="navbar-search left" >{% csrf_token %}
                        <div>
                            {% if user.is_authenticated %}
                            <ul class="mi-menu">
                            <li><a href="/usuarios/cerrar/">CERRAR SESION</a>
                            </li>
                            </ul>
                        </div>
                    </form>
                </div>

                <div class="busqueda">
                    <form class="navbar-search left" >{% csrf_token %}
                        <div>
                            {% if user.is_authenticated %}
                            <ul class="mi-menu">
                            <li><a href="/"><i class="icon-user icon-white"></i> {{user.username|capfirst}}</a>
                                <ul class="mi-menu">
                                    <li><a href= "/usuarios/nuevo_pass/">Cambiar contraseña</a></li>
                                </ul>
                            </li>
                            </ul>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div-->
            {% endif %}
        </div>{% endif %}
    </div>
</div>
</div>
{% block content %}
{% endblock %}


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
{% block js %}
{% endblock %}

</body>

</html>
