{% extends 'base2.html' %}
{% block title %}
	Sitio administrativo
{% endblock %}
{% block content %}

<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css"/>

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>

    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">
<!-- Container -->
<div class="change-list" >
    <div id="content">
    <!-- Content -->
        <div class="login">
            <h1>Usuarios</h1>
            <ul class="btn1">
                        <li>
                            <a  href="usuarios/registrarse/" class="addlink">Nuevo Usuario</a>
                        </li>
                    </ul>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="sortable">
                            <div class="text">
                                Usuario
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Modificar
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Eliminar
                            </div>
                        </th>
                    </tr>
                </thead>

                {% for user in object_list %}
                <tr class="model-user">
                    <td>{{ user.username }}</td>
                    <td><a href="/usuarios/edit/{{ user.id }}/"  class="btn btn-warning"><i
                                        class="icon-pencil icon-white"></i></a></td>
                    <td><a href="/usuarios/delete/{{ user.id }}/" onclick="return confirm('Está seguro que desea eliminar el Usuario?')" class="btn btn-danger"><i
                                        class="icon-remove icon-white"></i></a></center></td>
                </tr>
                {% endfor %}
                {% if usuarios %}
                <p>Found {{ usuarios|length }} usuario{{ usuarios|pluralize }}.</p>
                <ul>
                    {% for usuario in usuarios %}
                    <tr class="model-user">

                        <td><center>{{ usuario.username }}</center></td>
                        <td><a href="/usuarios/edit/{{ user.id }}/"  class="btn btn-warning"><i
                                        class="icon-pencil icon-white"></i></a></td>
                        <td><a href="/usuarios/delete/{{ user.id }}/" onclick="return confirm('Está seguro que desea eliminar el Usuario?')" class="btn btn-danger"><i
                                        class="icon-remove icon-white"></i></a></center></td>
                    </tr>
                    {% endfor %}
                </ul>
                {% endif %}

        </table>
        </div>
      </div>




        <br class="clear" />
    </div>
</div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}