{% extends 'base2.html' %}

{% block title %}
	Registrarse
{% endblock %}


{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>
<div id="content">
    <h1>Crear Usuario</h1>
    <div class="opacity">
        <fieldset class="module aligned wide">
        <form method="post">{% csrf_token %}
            <div class="form-row">
                {{ form.as_p }}
            </div>

            <div class="submit-row">
                <input type='submit' value='Cancelar' onClick='history.go(-1);'>
                <input type="submit" value="Registrarse" />
            </div>
        </form>
        </fieldset>
    </div>
</div>
{% endblock %}